<g:form name="myForm" 
              url="[action:'guardarEncabezadoAjax']">
  <p>Factura No. <input type="text" name="numFactura" /></p>
  <p>Cliente: 
	<g:select id="clienteId" name='clienteId' value=""
    noSelection="${['-1':'Nuevo cliente']}"
    from='${listaClientes}'
    optionKey="id" optionValue="nombre" onChange="selectCliente(this.value)" ></g:select>
 <input type="text" id="nitCliente" name="nitCliente" /><input type="text" id="nombreCliente" name="nombreCliente" />
  <a href="#" onclick="callFormCliente(); return false;">Nuevo Cliente</a>

  </p>
  <p>Fecha  (yyyy-mm-dd): <input type="text" name="fecha" /></p>

<g:link action="nuevoItem" onclick="nuevoItemAjax(); return false;">+ Item</g:link>

<div id="itemsFactura"></div>

  <input type="submit" value="Crear Factura">
</g:form>

<h3>Gracias por confiar en nuestro servicios</h3>
<div id="ajaxMessage">Por favor diligencie los campos de la factura y de click en crear factura</div>

