/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/
body p {
	font-family:  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
	font-size:32px;
	color: #4D8618;
}

ul {
	background-color:  #d5dfef;
	border: 1px solid #c1d4f2;
	padding: 10px;
}

ul li {
	font-size: 14px;
	color: #0e6af9;
	list-style-type: circle;
}