body p {
	font-family:  font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
	font-size:32px;
	color: #4D8618;
}

ul {
	background-color:  #d5dfef;
	border: 1px solid #c1d4f2;
	padding: 10px;
}

ul li {
	font-size: 14px;
	color: #0e6af9;
	list-style-type: circle;
}

.item {
	background-color:  #d5dfef;
	border: 1px solid #c1d4f2;
	padding: 10px;	
}
.item span {
	display:inline-block;
	width:33%;
}